.card {
    /* width: 250px; */
    /* height: 480px; */
    text-align: center;
    font-family: arial;
}

.card .intro,
.card .card-icon {
    -webkit-transition: opacity 0.2s, max-height 0.4s, -webkit-transform 0.2s;
    transition: opacity 0.2s, max-height 0.4s, -webkit-transform 0.2s;
    -o-transition: opacity 0.2s, max-height 0.4s, transform 0.2s;
    transition: opacity 0.2s, max-height 0.4s, transform 0.2s;
    transition: opacity 0.2s, max-height 0.4s, transform 0.2s, -webkit-transform 0.2s;
    opacity: 0;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    max-height: 0px;
}

.card:hover .intro,
.card:hover .card-icon {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    max-height: 200px;
}

.card:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.names {
    color: grey;
    font-size: 16px;
}

.intro {
    font-size: 14px;    
}

.card-icon {
    margin: 24px 0;
}

.card-icon a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}