* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#signup_page{
    text-align: center;
    color: #999999;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=button] {
    background-color: steelblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type=button]:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.container {
    width: 99vw;
    min-height: 80vh;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.col-25 {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
    margin-top: 6px;
}

.col-75 {
    -ms-flex-preferred-size: 74%;
        flex-basis: 74%;
    margin-top: 6px;
}

.must-fill{
    color: rgb(255, 85, 85);
}

#signup {
    margin-top:40px;
    width:250px;
}

@media screen and (max-width: 768px) {
    .col-25,
    .col-75 {
        -ms-flex-preferred-size: 99%;
            flex-basis: 99%;
        margin-top: 0;
    }
}